<div class="mdl-grid mdl-grid--color">
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
      <div id="income-box" class="box-dashboard">
           <span>Dochód</span> 
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
        <div id="expenses-box" class="box-dashboard">
            <span>Wydatki</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
        <div id="budget-box" class="box-dashboard">
            <span>Budzet</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
        <div id="piggybank-box" class="box-dashboard">
            <span>Skarbonka</span>
        </div>
    </div>
  <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
      <table id="tableLastExpense" class="mdl-data-table mdl-js-data-table mdl-data-table--resp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Nazwa wydatku</th>
              <th>Data</th>
              <th>Cena</th>
            </tr>
          </thead>
          <% lastExpenses.forEach(function (expense) { %>
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"><%= expense.name %></td>
                <td><%= expense.date.toLocaleDateString() %></td>
                <td><%= expense.amount %> zł</td>
              </tr>
            </tbody>
          <% }) %>
      </table>
  </div>
  
  <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
    <div>
        <canvas id="lineChart"></canvas>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell--color">
    <div>
        <canvas id="categoriesChart"></canvas>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell--color">
      
  </div>
    <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell--color">
      
  </div>
</div>

<script src="../js/charts.js"></script>

