<div class="mdl-grid">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-data-table--resp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Nazwa wydatku</th>
          <th>Data</th>
          <th>Cena</th>
        </tr>
      </thead>
      <% lastExpenses.forEach(function (expense) { %>
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= expense.name %></td>
            <td><%= expense.date.toLocaleDateString() %></td>
            <td><%= expense.amount %> zł</td>
          </tr>
        </tbody>
      <% }) %>
  </table>
  <div style="width: 400px; height: 300px; position: relative;">
    <canvas id="pieChart"></canvas>
  </div>
  <div style="width: 400px; height: 300px; position: relative;">
    <canvas id="lineChart"></canvas>
  </div>
  
  
</div>

<script src="../js/charts.js"></script>

