<div class="mdl-layout__tab-panel is-active" id="analysis-today">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
      <div>
        <canvas id="categoriesChart1"></canvas>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
      <div>
        <canvas id="categoriesChart2"></canvas>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
      <div>
          <canvas id="line-chart2"></canvas>
      </div>
    </div>
  </div>
</div>
  <div class="mdl-layout__tab-panel" id="analysis-month">
    <div class="mdl-grid">
        Month
    </div>
  </div>
</div>
<div class="mdl-layout__tab-panel" id="analysis-year">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
      <div>
        <canvas id="line-chart1"></canvas>
      </div>
    </div>
  </div>
</div>
