<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="categories-expenses-today"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="expense-amount-tospend-chart-analysis-today"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            Wykres taki jak 5 na miesiecznych (to samo tylkko te kwoty podzielic na ilosc dni w miesiacu i otrzymamy nowy)
             tylko nazwa inna bo to nie jest zabudżetowane ale wyliczone na podstawie budżetu
            <canvas id="budgeted-expenses-category-today"></canvas>
        </div>
    </div>
</div>