<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
    <div>
      <canvas id="categoriesChart1"></canvas>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
    <div>
      <canvas id="categoriesChart2"></canvas>
    </div>
  </div>
</div>