<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="categories-expenses-monthly"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="categoriesChart2"></canvas>
        </div>
    </div>
</div>