<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
        <div>
          <canvas id="categories-expenses-annual"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
      <div>
        <canvas id="annual-chart-analysis"></canvas>
      </div>
    </div>
</div>