<div class="mdl-layout__tab-panel is-active" id="analysis-today">
    <%- include analysisToday %>    
</div>
  <div class="mdl-layout__tab-panel" id="analysis-month">
      <%- include analysisMonthly %>
  </div>
</div>
<div class="mdl-layout__tab-panel" id="analysis-year">
  <%- include analysisAnnual %>  
</div>
<script src="js/chartsForAnalysisToday.js"></script>
<script src="js/chartsForAnalysisMonthly.js"></script>
<script src="js/chartsForAnalysisAnnual.js"></script>



