<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="categories-expenses-monthly"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="expenses-for-day"></canvas>
        </div>
    </div>  
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="expense-amount-tospend-chart-analysis-month"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="budgeted-expenses-category-month"></canvas>
        </div>
    </div>  
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="budgeted-category-month"></canvas>
        </div>
    </div> 
</div>