.transactions-table {
    width:calc(100% - 30px);
    margin-left:15px;
    margin-top:15px;
    margin-bottom:15px;
}

.log-form {
    margin-left:50px;
    margin-top:50px;
}

.mdl-dialog {
    width:50%;
}
.material-icons.md-32 {
     font-size: 32px; 
}

.mdl-dialog--font {
    font-size:15px;
    text-align: left;
    padding:10px;
}

.mdl-textfield-size {
    width:300px;
}

.mdl-button--transparent {
    background: transparent;
    border: none;
    -moz-outline: none;
    outline: none;
    
}

#table-last-transactions {
    width:100%;
}

.mdl-cell--color {
    background-color: white;
}

.mdl-grid--color {
    background-color: rgba(0,0,0,.04);
}

.box-dashboard {
    height:60px;
    color:#fff;
    font-size:25px;
    text-align:center;
    line-height:60px;
}
.box-dashboard:hover {
    opacity:0.8;
}

#income-box {
    background-color: #00BCD4; 
}
#expenses-box {
    background-color:#FF9800;  
}

#piggybank-box {
    background-color:#E91E63;
}

#budget-box {
    background-color:#8BC34A;
}



