
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    color: black;
  }

.mdl-layout__header--white {
    background-color:#fff;
}
#home-nav a {
    color:black;
}

.mdl-layout__content--blue {

    background-color:#1976d2;
}

.hero-headline {

  width:500px;
  height:128px;
  font-size:40px;
  color:#fff;


}

.homepage-container {
  background-color:transparent;
  width:500px;
  height:232px;
  float:right;
  margin-right:15%;
  
}

.mdl-button--pink {
  background-color:#ff4081;
}