$tablet: "(max-width: 768px)";
$small-width: "(max-width: 500px)";
$normal-width: "(max-width: 1366px)";



@media #{$small-width} {
    .mdl-data-table--resp {
        font-size:10px;
        table-layout:fixed;
        
    }
}

@media #{$tablet} {
    .mdl-data-table--resp-tablet {
        font-size:10px;
        table-layout:fixed;
        
    }
   
}


  