$tablet: "(max-width: 768px)";
$small-width: "(max-width: 400px)";

@media #{$small-width} {
    .mdl-data-table--resp {
        font-size:10px;
    }
}

@media #{$tablet} {
    .mdl-data-table--resp {
        width:100%;
    }
}
