$tablet: "(max-width: 768px)";
$small-width: "(max-width: 400px)";
$normal-width: "(max-width: 1366px)";



@media #{$small-width} {
    .mdl-data-table--resp {
        font-size:10px;
    }
}

@media #{$tablet} {
   
}


  