<% include ../header %>
<% if (message.length > 0) { %>
<div id="snackbar-auth" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"><p id="message-auth"> <%=message%></p></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<% } %>
<div id="container-auth" class="mdl-layout mdl-js-layout">
    <section class="container">
        <div id="cube" class="show-front">
            <% include signin %>
            <% include signup %>
            <% include reminderPassword %>
        </div>
    </section>
</div> 
<% include ../footer %>

