<header class=" mdl-layout__header">
    <div class="mdl-layout__header-row">
          <!-- Title -->
        <span class="mdl-layout-title"></span>IconFinControl</span>
          <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
         <nav class="mdl-navigation">
            <button id="addExpense" class="mdl-button md-48 mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--size">
              <i class="material-icons">add</i>
            </button>
            <button id="account-menu">
              <div class="material-icons md-48 mdl-badge--overlap material-icons--size ">account_circle</div>
            </button>
        </nav>

        
        
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect "
            for="account-menu">
          <li class="mdl-menu__item">Moje konto</li>
          <li class="mdl-menu__item">Opcja 2</li>
          <li disabled class="mdl-menu__item">Opcja 3</li>
          <li class="mdl-menu__item"><a href="/">Wyloguj</a></li>
        </ul>
        </div>    
</header>
 