<header class=" mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"></span>IconFinControl</span>
        <div class="mdl-layout-spacer"></div>
         <nav class="mdl-navigation">
            <button id="addExpense" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effectmdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
            <button class="mdl-button--transparent">
                <i class="material-icons material-icons md-32">file_download</i>
            </button>
            <button id="account-menu" class="mdl-button--transparent">
              <div class="material-icons md-32 mdl-badge--overlap">account_circle</div>
            </button>
          </nav>

        
        
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect "
            for="account-menu">
          <li class="mdl-menu__item">Moje konto</li>
          <li class="mdl-menu__item">Opcja 2</li>
          <li disabled class="mdl-menu__item">Opcja 3</li>
          <li class="mdl-menu__item"><a href="/">Wyloguj</a></li>
        </ul>
        </div>    
</header>
 