<div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><%-title%></span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/dashboard"><i class="material-icons">dashboard</i>Panel głowny</a>
        <a class="mdl-navigation__link" href="/actions"><i class="material-icons">attach_money</i>Akcje</a>
        <a class="mdl-navigation__link" href="/transactions"><i class="material-icons">history</i>Transakcje</a>
        <a class="mdl-navigation__link" href="/analysis"><i class="material-icons">donut_small</i>Analiza wydatków</a>
    </nav>
</div>
