<div class="mdl-grid">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <p>Budrzet przeznaczony na dana kategorie itp(mozna to potem wyswietlac an wykresach ile zostalo na rozrywke itp)</p>
    </table>
</div>