<div class="mdl-grid">
  <table id="myTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp transactions-table  ">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Nazwa wydatku</th>
          <th>Data</th>
          <th>Cena</th>
        </tr>
      </thead>
      <% transactions.forEach(function (transaction) { %>
        <tbody>
          <tr class=>
            <td class="table-icon-delete"><i class="material-icons">delete_forever</i></td>
            <td class="mdl-data-table__cell--non-numeric transaction-data" name="name"><%= transaction.name %></td>
            <td class="transaction-data" name="date"><%= transaction.transaction_date.toLocaleDateString() %></td>
            <td class="transaction-data" name="amount"><%= transaction.amount %> zł</td>
          </tr>
        </tbody>
      <% }) %>
  </table>
  <button id="deleteTransaction" onclick="deleteTransaction">usun</button>
  <a href='?page=2'>Zmien</a>
  <a href='?order=ASC&by=name'>Sort by name asc</a>
</div>

<script src="../js/deleteTransaction.js"></script>
