<div class="mdl-grid">
  <p> wydatki. Spis wydatków na dany dzien, miesiac itp z mozliwoscią filtrowanie np tylko wydatki "rozrywka"</p>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp expenses-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Nazwa wydatku</th>
          <th>Data</th>
          <th>Cena</th>
        </tr>
      </thead>
      <% expenses.forEach(function (expense) { %>
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= expense.name %></td>
            <td><%= expense.date.toLocaleDateString() %></td>
            <td><%= expense.amount %> zł</td>
          </tr>
        </tbody>
      <% }) %>
  </table>
</div>

