 <footer>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
 </footer>
<script src="/scripts/newExpense.js"></script>
</body>
</html> 