 <footer>
     <!--Cos co trzeba gdzieś przenieść -->
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <body>
            <dialog class="mdl-dialog">
              <h4 class="mdl-dialog__title mdl-dialog--font">Dodawanie nowego wydatku</h4>
              <div class="mdl-dialog__content">
              </div>
              <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield-size">
                      <input class="mdl-textfield__input" type="text" id="sample3">
                      <label class="mdl-textfield__label" for="sample3">Wydatek...</label>
                    </div>
                </form>
                  <!-- Numeric Textfield with Floating Label -->
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield-size">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                      <label class="mdl-textfield__label" for="sample4">Cena...</label>
                      <span class="mdl-textfield__error">To nie jest liczba!</span>
                    </div>
                </form>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield-size">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                        <label class="mdl-textfield__label" for="sample4">
                            <i class="material-icons" style="font-size:16px;">event_note</i> Data
                        </label>
                        <span class="mdl-textfield__error">Zły format!</span> 
                        
                    </div>
                    </form>
              <div class="mdl-dialog__actions">
                <button id="acceptExpense"type="button" class="mdl-button mdl-js-button mdl-button--primary">Dodaj</button>
                <button type="button" class="mdl-button close  mdl-js-button mdl-button--primary">Anuluj</button>
              </div>
            </dialog>
        </body>
 </footer>
<script src="/scripts/newExpense.js"></script>
</body>
</html> 