 <footer>
    <% include partials/notificationBar %>
 </footer>
<script src="/js/newTransaction.js"></script>
<script src="js/messageAuth.js"></script> 
<script src="js/chartsForAnalysis.js"></script>

<!-- 
<script src="js/charts.js"></script> -->
</body>
</html> 