<footer>
    <button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="button">Show Snackbar</button>
</footer>
<script src="/scripts/newExpense.js"></script>
</body>
</html>