 <footer>
     <!--Cos co trzeba gdzieś przenieść -->
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <body>
            <dialog class="mdl-dialog">
              <h4 class="mdl-dialog__title">Dodawanie nowego wydatku</h4>
              <div class="mdl-dialog__content">
                <p>
                 Dodawanie nowego wydatku
                </p>
              </div>
              <div class="mdl-dialog__actions">
                <button id="acceptExpense"type="button" class="mdl-button mdl-js-button mdl-button--primary">Dodaj</button>
                <button type="button" class="mdl-button close  mdl-js-button mdl-button--primary">Anuluj</button>
              </div>
            </dialog>
        </body>
 </footer>
<script src="/scripts/newExpense.js"></script>
</body>
</html> 