<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/components/material-design-lite/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <script src="js/script.min.js"></script>
  <link rel="stylesheet" href="/components/getmdl-select/getmdl-select.min.css">
  <script defer src="/components/getmdl-select/getmdl-select.min.js"></script>

 <!-- DATA PICKER -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="components/md-date-time-picker/dist/css/mdDateTimePicker.css">
  <script src="components/moment/moment.js"></script>
  <script src="components/md-date-time-picker/dist/js/mdDateTimePicker.js"></script>
  <script src="js/datePicker.js"></script>
  <script src="js/preloader.js"></script>
  

  
</head>
<body>

    


