<% include header %>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--white">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Ikona FinControl</span>
        <div class="mdl-layout-spacer"></div>
        <nav id="home-nav" class="mdl-navigation">
          <a class="mdl-navigation__link" href="/login">Zaloguj się</a>
          <a class="mdl-navigation__link" href="/register" >Zarejestruj się</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content mdl-layout__content--blue">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
              
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Welcome</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    Chcesz wiedzieć na co wydajesz sowje pieniądze i zaoszczędzić? Dołącz już teraz! 
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                          Button
                      </button>
                    </a>
                  </div>
                  <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">share</i>
                    </button>
                  </div>
              </div>
            </div>
        </div>
    </main>
  </div>
  

<% include footer %>
