<% include header %>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--white">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Ikona FinControl</span>
        <div class="mdl-layout-spacer"></div>
        <nav id="home-nav" class="mdl-navigation">
          <a class="mdl-navigation__link" href="/login">Zaloguj się</a>
          <a class="mdl-navigation__link" href="/register" >Zarejestruj się</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content mdl-layout__content--blue">
      <div class="homepage-container">
        <div class="hero-headline">
          Jedna Aplikacja do zarządzania Twoimi finansami
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--pink" disabled>
          Button
        </button>
      </div>
    </main>
  </div>
  

<% include footer %>
